In [1]:
import sqlite3
conn = sqlite3.connect('employees.db')
print('database created successfully')
cursor = conn.cursor()

database created successfully

In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('employees.db')
print('database created successfully')
cursor = conn.cursor()
cursor.execute('''
        CREATE TABLE employee(
                employee_id int PRIMARY KEY,
                last_name text,
                first_name text,
                position text,
                salary int,
                date_hired int
                            
         )
''')
conn.commit()
my_list = [('Lew', 'Allen', 'Administrator', 29_500, 2004),
           ('Sessoms', 'Allen', 'President', 29_500, 2008),
           ('Henderson', 'kayatanya', 'Superintendent', 27_500, 2007),
          ('Lanier', 'Cathy', 'Chief', 230743, 1990),
          ('Arons', 'Bernard', 'Medical Officer Psych', 206_000, 2008),
          ('Ritchie', 'Elspeth', 'Medical Officer Psych', 206_000, 2010),
          ('Gray', 'Vincent', 'Mayor', 200_000, 2005),
          ('Marshal', 'Katherine', 'Medical Officer Psych', 200_000, 2008),
          ('Gandhi', 'Natwar', 'Chief Financial Officer', 199_700, 1997),
          ('Duncan', 'Loretta', 'Workers Compensation Recipient', 197_808, 1984),
          ('Baxter', 'Graeme', 'Act Provost & VP Acd Aff', 196_257, 2008),
          ('Miramontes', 'David', 'Medical Director', 193_125, 2011),
          ('Graves', 'Warren', 'Chief of Staff', 193_125, 2007),
          ('Stanchfield', 'Eric', 'Executive Director', 193_125, 2007),
          ('Jones', 'Tyler', 'Medical Officer Psych', 190_550, 2008),
          ('Brown', 'Kwame', 'Chairman', 190_000, 2005),
          ('Eure', 'Philip', 'Executive Director', 188_692, 2000),
          ('Cooper', 'Ginnie', 'Executive Director', 188_044, 2006),
          ('Yadao', 'Nilda', 'Medical Officer Psych', 188_027, 1987),
          ('Ellerbe', 'Kenneth', 'Fire Chief', 187_302, 2003),
          ('Ruland', 'Jeffrey', 'Dir of the Ctr for Wf Str & Ec', 186_911, 2009),
          ('Parker', 'Craig', 'General Counsel', 186_911, 2009),
          ('Farley', 'Mark', 'Vp Human Resources', 186_911, 2008),
          ('Otero', 'Beatriz', 'Dep Mayor for Hlth & Human Svcs', 185_000, 2011),
          ('Quander', 'Paul', 'Deputy Mayor', 185_000, 2009),
          ('Pierre', 'Louis Marie', 'Chief Medical Examiner', 185_000, 1985),
          ('Pestaner', 'Joseph', 'Medical officer(medical Exami)', 183_892, 1997),
          ('Revercomb', 'Carolyn', 'Medical officer(medical Exami)', 183_892, 2005),
          ('Morgan', 'Johnson Shiela', 'Chief Investment Officer', 183_677, 1991),
          ('Williamson', 'Michael', 'Deputy Director', 182_000, 2011),
          ('White', 'Mattie', 'Medical Officer Psych', 180_604, 1987),
          ('Park', 'Kyung', 'Medical Officer Psych', 180_604, 1987),
          ('Gore', 'T', 'Medical Officer Psych', 172_101, 2005),
          ('Ludwig', 'Benjamin', 'Workers Compensation Recipient', 171_517, 1972),
          ('Atdjian', 'Sylvia', 'Medical Officer Psych', 170_938, 2007),
          ('Zaidi', 'Syed', 'Medical Officer Psych', 170_344, 1991),
          ('Sherron', 'Robert', 'Medical Officer Psych', 170_344, 2007),
          ('Johnson', 'Nicole', 'Medical Officer Psych', 170_344, 2007),
          ('Ruda', 'Lisa', 'Chief of Staff', 170_000, 2007),
          ('Beers', 'Nathaniel', 'Deputy Superintendent', 170_000, 2007),
          ('Nuss', 'Laura', 'Director', 170_000, 2007),
          ('Mancini', 'Robert', 'Acting Director', 170_000, 2004),
          ('Wicker', 'Henry', 'Medical officer Opthal', 168_378, 1987),
          ('Davenport', 'Nancy', 'Administrative Librarian', 167_200, 2006),
          ('Jaji', 'Abayomi', 'Medical Officer Psych', 167_062, 2000),
          ('Stevens', 'KyleeAnn', 'Medical Officer Psych', 167_051, 2008),
          ('Smothers', 'Kenneth', 'Medical Officer Psych',166_995, 1987),
          ('Akhtar', 'Saleha', 'Medical Officer Psych', 199_995, 1988),
          ('Singh', 'Anjali', 'Medical Officer Psych', 166_370, 1988),
          ('Rahman', 'Umar', 'Medical Officer Psych', 166_370, 1996),
          ('Adewale', 'Benjamin', 'Medical Officer Psych', 166_370, 1988),
          ('Zaidi', 'Syed', 'Medical Officer General Practi', 165_842, 1983),
          ('Jackson', 'Kenneth', 'Assistant Fire Chief Srvs', 165_306, 1982),
          ('Berns', 'David', 'Dir of Human Resources', 165_200, 2011),
          ('Cordi', 'Stephen', 'Deputy Cfo Otr', 165_162, 2008),
          ('Mallory', 'Lisa', 'Acting Director', 165_000, 2004),
          ('Flowers', 'Brian', 'General Counsel', 165_000, 1985),
          ('Bellamy', 'Terry', 'Director', 165_000, 2008),
          ('West', 'Millicent', 'Director Homeland sec & Ema', 165_000, 2003),
          ('Pappas', 'Gregory', 'Deputy Dir', 164800, 2011),
          ('Altaf', 'Samia', 'Supervisory Medical Officer', 164_800, 2010),
          ('Owens', 'Karen', 'Dental Officer', 164_800, 1989)]

cursor.executemany('INSERT INTO employee( last_name,first_name,position,salary,date_hired)VALUES(?,?,?,?,?)', my_list)
print('I have inserted', cursor.rowcount, 'records to this table')
conn.commit()
#2
cursor.execute('SELECT DISTINCT position FROM employee');
#3
cursor.execute('SELECT * FROM employee ORDER BY first_name DESC');
#4
cursor.execute('SELECT first_name, last_name, salary FROM employee WHERE salary > 200000');
#5
cursor.execute('UPDATE employee SET last_name = "Peter" WHERE first_name = "Lisa"');
conn.commit()
cursor.execute('SELECT * FROM employee WHERE first_name = "Lisa"');
#6
cursor.execute('DELETE FROM employee WHERE last_name = "Kwame"');
conn.commit()
cursor.execute('SELECT * FROM employee');
#7
cursor.execute('SELECT position AS job_role FROM employee');
#8
cursor.execute('SELECT employee_id, first_name, last_name AS Name, salary FROM employee ORDER BY salary ASC');
#9
cursor.execute('SELECT COUNT(*) FROM employee WHERE salary > 200000');
#10
cursor.execute('SELECT MAX(salary) FROM employee');
cursor.execute('SELECT MIN(salary) FROM employee');
conn.commit()
cursor.fetchall()

database created successfully
I have inserted 62 records to this table

[(27500,)]